<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Workflow</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">  
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/jobs">All Jobs</a></li>
            <li class="divider"></li>
            <li><a id = "profile" href="">Edit Your Profile</a></li>
            <li class="divider"></li>
            <li><a id = "dashboard" href="">Dashboard</a></li>
            <li class="divider"></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>