<link rel="stylesheet" href="/assets/css/style3.css">
<script src="/assets/js/p5.min.js"></script>
<script src="/assets/js/p5.sound.min.js"></script>
<script src="/assets/js/circlePattern.js"></script>
<div class='bgMask'></div>
<a href="/home"><button id ='enter'>ENTER</button></a>
