<link rel="stylesheet" href="/assets/css/style.css">
<script src="/assets/js/p5.min.js"></script>
<script src="/assets/js/p5.sound.min.js"></script>
<div class='container'>
    <div class = 'row'>
        <h2>Example Projects</h2>
        <div class = 'col-md-4 boxHolder'>
            <h3>Melody Maker</h3>
            <p>Play melodies using your mouse or touch screen. All sorts of adjustable settings. Also, the most
                up to date of all these projects.
            </p>
        <a href='/melodyMaker'>Play melodies</a><hr>
        </div>
        <div class= 'col-md-4 boxHolder'>
            <h3>Loop Maker</h3>
            <p><strong>(Not fully functional)</strong>Create loops using your mouse or touch screen. All sorts of sliders to adjust the sounds of your loops. After 12 touches
                on either track, the oldest note is replaced with the most recent touch.
            </p>
        <a href='/loopMaker'>Make loops</a><hr>
        </div>
        <div class='col-md-4 boxHolder'>
            <h3>Algorhythms</h3>
            <p>Randomly generated music controlled by behind the scenes logic.</p>
        <a href='/musicMaker'>Let the computer play for you</a><hr>
        </div>
    </div>
</div>