<header class= "container-fluid">
    <div class="headerMask"></div>
        <div class="headerWrap">
            <h1>Patrick Hussey</h1>
            <p>Front and Back End Devoloper</p>
        </div>
        <div class="headerMask"></div>
</header>
<link rel="stylesheet" href="/assets/css/style2.css">
<script src="/assets/js/p5.min.js"></script>
<script src="/assets/js/p5.sound.min.js"></script>
<script src="/assets/js/logic2.js"></script>
<div class="container canvasTarget">
</div>