<form id="artUploadForm" action="/api/new/art" role="form" method="POST" enctype="multipart/form-data">
	<div class="form-group">
		<input type="hidden" id = "client" name="id" value="">
		
		<!-- the ContributionId value for this hidden input will be set by the click function, which comes from the actual contribution -->
		<input type="hidden" id="ContributionId" name="ContributionId">
		<label for="">Add your art...</label>
		<input type="file" name="fileupload" value="fileupload" id="fileupload"> 
		<label for="fileupload"> Select a file to upload</label> 
		<input type="submit" value="submit"> 
	</div>
	<div class="btn-toolbar">
		<button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
	</div>
</form>