<link rel="stylesheet" href="/assets/css/style2.css">
<script src="/assets/js/p5.min.js"></script>
<script src="/assets/js/p5.sound.min.js"></script>
<script src = "https://tonejs.github.io/build/Tone.min.js"></script>
<script src="/assets/js/loopMaker2.js"></script>
<label for='delay'>Delay Time</label>
<input type = 'range' id = 'delay' min ="0.1" max = '1' step="0.01"value='0.2'>
<label for='reverb'>Reverb</label>
<input type = 'range' id = 'reverb' min ="0.1" max = '1' step="0.01"value='0.2'>
<label for='delay3'>Master Delay Time</label>
<input type = 'range' id = 'delay3' min ="0.1" max = '1' step="0.01"value='0.2'>
