{{!--<div class = "form-input">
    <form action="/users/{{contents.username}}/dashboard" method="POST">
        <label for ="title">Title</label>
        <input type = "text" name = "title">
        <label for ="description">Description</label>
        <input type = "text" name = "description">
        <input type="hidden"  name ="ClientId"value = {{contents.id}}>
        <button class= "btn btn-danger">Submit</button>
    </form>--}}
{{>elements/header}}
<div class="container">
    <div class="well bs-component">
        <form class="form-horizontal postForm" action="/users/{{contents.username}}/dashboard" method="POST">
            <fieldset>
            <legend>Post Your Job</legend>
            <div class="form-group">
                <label class="control-label" for="title">Job Title</label>
                <input class="form-control" id="jobTitle" type="text" name="title">
            </div>
            <div class="form-group">
                <label class="control-label" for="description">Description</label>
                <input class="form-control" id="jobDescription" type="text" name="description">
            </div>
            <div class="form-group">
             <label for="select" class="control-label">Category</label>
                <select class="form-control" id="select" name="jobCategory">
                <option>Front-End</option>
                <option>Back-End</option>
                <option>Design</option>
                <option>Full-Stack</option>
                </select>
            </div>  
             <input type="hidden"  name ="ClientId" value = {{contents.id}}>
            <button class= "btn btn-danger">Submit</button>
        </form>
    </div>  
</div>